<div class="posts-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-new-container">

        <h1 class="text-center text-white">1st Comfirmation</h1>

        <%= form_for @post, url: posts_create_path do |f| %>
               <%= f.fields_for :movie do |m| %>
                 <%= m.file_field :video %>
               <% end %>

        <div style="color:black">
          <%= f.submit "Check Out" %>
        </div>

            <% end %>

      </div>
    </div>
  </div>
</div>
