<div class="posts-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-show-container">
        <h1 class="text-right text-white">Giving World Your Presentation</h1>
        <%= video_tag @post.movie.video.to_s, controls: true %>
        <%= @post.title %>
        <%= @post.script %>
        <%= link_to 'Presentation List', posts_index_path, class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>
