@media screen and (min-width:920px){
  /*920px以上で適用する内容*/
.devise-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url("icons/top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .devise-new-container {
    padding-top: 300px
   }

  .text-white {
    font-size: 30px;
    color: #fff;
   }

   h1 {
     font-weight: 100px;
   }

  .btn-white {
    color: #fff;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
          color: #fff;
    }
   }
 }
}
