.header{
  padding: 50px 0 0 50px;
  height: 100px;
  width: 100px;
  position: fixed;

  a{
    img{
      height: 100px;
    }
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('icons/top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .top-hero-container {
    padding-top: 400px;

    .text-white {
      color: #000;
    }


    h1 {
      font-size: 56px;
      margin-bottom: 20px;
      font-weight: 100px;
    }

    h2 {
      margin-bottom: 60px;
      font-weight: 100px;
    }

  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.7);
    }
  }
}
