video {
  width: 100%;
}

.posts-new-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 300px;
  background-image: image-url('icons/top2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .posts-new-container {
    padding-top: 100px;

    .text-white {
      color: #fff;
    }

    h1 {
      font-size: 56px;
      margin-bottom: 20px;
      font-weight: 100px;
    }
  }

  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
      color: #fff;
    }
   }
  }


.posts-index-wrapper {
  width: 100vw;
  height: auto;
  padding: 15px;
  background-image: image-url('icons/top2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .container {
    width: 800px;


  .text-white {
    color: #fff;
  }

  h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 900px;
  }
 }

  .posts-index-container {
    padding-top: 300px;
   }

  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
      color: #fff;
    }
   }
  }


.posts-edit-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('icons/top2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .posts-edit-container {
    padding-top: 100px;

    .text-white {
      color: #fff;
    }

    h1 {
      font-size: 56px;
      margin-bottom: 20px;
      font-weight: 900px;
    }
   }

    .btn-white {
      color: #fff;
      border: 1px solid #fff;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 20px;
      background-color: rgba(0,0,0,0.0);

      &:hover {
        color: #fff;
      }
     }
    }


.posts-show-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('icons/top2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;

  .posts-show-container {
    padding-top: 100px;

    .text-white {
      color: #fff;
    }

    h1 {
      font-size: 35px;
      margin-bottom: 20px;
      font-weight: 900px;
    }
  }
  .btn-white {
    color: #fff;
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
      color: #fff;
    }
   }
  }
